@charset "utf-8";
/* CSS Document */
html{font-size:62.5%; }
*{margin:0;padding:0}
body{font-family: "Microsoft YaHei","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%; color:#333;
font-size: 1.4em;height:100%;min-width:320px;  margin:auto; max-width:640px; }
@media(max-width: 320px){body{ font-size:1.0em;}}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
a{text-decoration:none; color:#333; cursor:pointer;}
a:hover,.red{text-decoration:none; color:#ff0000}
.org{color:#ff4b00}
.hong{ color:#f00;}
.blue{ color:#558cd8}
img{border:0;vertical-align:middle}
.clear{ clear:both;}
em,i{font-style:normal}
.gary{ color:#999;}
li{list-style:none}
.fl{float:left ;}
.fr{float:right;}
.tl{ text-align: left}
.tr{ text-align:right}
.tc{ text-align:center}
.bold{ font-weight:bold;}
.wrap{ padding:0 2%; width:96%}
.mt10{ margin-top:1rem;}
.bg{ background:#fff;}
input{ outline:none;border:0; font-family:microsoft yahei}
input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance:bottom; -moz-appearance:none;-webkit-appearance: none;}
input[type="button"] { -webkit-appearance:none; }
.flexbox {display: -moz-box; /* Firefox */ display: -ms-flexbox; /* IE10 */ display: -webkit-box; /* Safari */
display: -webkit-flex; /* Chrome, WebKit */ display: box; display: flexbox; display: flex; -webkit-box-pack: center;-moz-box-pack: center;
-ms-flex-align: center;-webkit-box-align: center;-moz-box-align: center;-webkit-align-items: center;-moz-align-items: center;align-items: center;}
.main{ margin:0 auto; overflow:hidden; padding-bottom:1em;}
.header{ height: 5rem;padding: 0 2%;background: url(../images/topbg.jpg); background-size:100% 100%  }
.header .flexbox{height: 5rem;}
.header .logo{ width:30%; margin:0 0 0 2%}
.header .logo img{ max-height:3em; width:auto;}
.header .menu { width:66%; text-align:right; margin:0 2% 0  0%}
.header .menu a{ float:right; display:block; width:25%; margin:0 0 0 10%;}
.header .menu a img{ width:100%;}
.download{ margin:1em auto 1em; position:relative; width:96%; padding:0 2%}
.download img.bg{ width:100%;}
.download .button1{ position:absolute; left:0; bottom:1em; width:100%;}
.download img.button{ width:35%; margin:0 7%;}
.video,.service,.bottom{width:96%; padding:0 2%}
.video iframe{ width:100%}
.video video{ margin:auto}
.service img{ width:100%;}
 @media(min-width: 639px){.video iframe{ width:614px; height:344px; margin:auto}}
/******公共结束******/
/***首页**/

.focus{width:100%; background:#fff; overflow:hidden; position:relative }  

.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .fcon{   width:100%;  display:none;  }  
.focus .fcon img{ display:block;width:100%; height: 320px; }  
.focus .fbg{  height:20px; text-align:center; z-index: 200; left:40%;  position:absolute; bottom:.5em; }  
.focus .fbg div{margin:0px auto 0;overflow:hidden;zoom:1;height:20px; }    
.focus .D1fBt a{ display:inline-block; width:10px; height:10px; border-radius:5px; margin:0 2px;   outline:0; background:#ccc; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fff;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{ display:inline-block; width:10px; height:10px;}
.focus .prev{ background:url(../images/prev.jpg)} 
.focus .next{ background:url(../images/next.jpg)}
  

@media(max-width: 640px){
.focus .fcon img{ height:320px;}
}
@media(max-width: 480px){
.focus .fcon img{ height:240px;}
}
@media(max-width: 415px){
.focus .fcon img{ height:210px;}
}
@media(max-width: 375px){
.focus .fcon img{ height:188px;}
}
@media(max-width: 320px){
.focus .fcon img{ height:160px;}
}
