<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czwx.cashloan.core.mapper.ProfitLevelMapper" >
  <resultMap id="BaseResultMap" type="com.czwx.cashloan.core.model.ProfitLevel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="second_rate" property="secondRate" jdbcType="DECIMAL" />
    <result column="reg_amount" property="regAmount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, level, rate, second_rate, reg_amount, remark, update_time, create_time
  </sql>
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="level != null" >
        and level = #{level,jdbcType=TINYINT}
      </if>
      <if test="rate != null" >
        and rate = #{rate,jdbcType=DECIMAL}
      </if>
      <if test="secondRate != null" >
        and second_rate = #{secondRate,jdbcType=DECIMAL}
      </if>
      <if test="regAmount != null" >
        and reg_amount = #{regAmount,jdbcType=DECIMAL}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from profit_level
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listSelect" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from profit_level
    <include refid="searchBy"/>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from profit_level
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.czwx.cashloan.core.model.ProfitLevel" >
    insert into profit_level (id, name, level, 
      rate, second_rate, reg_amount, 
      remark, update_time, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, 
      #{rate,jdbcType=DECIMAL}, #{secondRate,jdbcType=DECIMAL}, #{regAmount,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czwx.cashloan.core.model.ProfitLevel" >
    insert into profit_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="secondRate != null" >
        second_rate,
      </if>
      <if test="regAmount != null" >
        reg_amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="secondRate != null" >
        #{secondRate,jdbcType=DECIMAL},
      </if>
      <if test="regAmount != null" >
        #{regAmount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czwx.cashloan.core.model.ProfitLevel" >
    update profit_level
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="secondRate != null" >
        second_rate = #{secondRate,jdbcType=DECIMAL},
      </if>
      <if test="regAmount != null" >
        reg_amount = #{regAmount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czwx.cashloan.core.model.ProfitLevel" >
    update profit_level
    set name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      rate = #{rate,jdbcType=DECIMAL},
      second_rate = #{secondRate,jdbcType=DECIMAL},
      reg_amount = #{regAmount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>