<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czwx.cashloan.core.mapper.ProfitCashLogMapper" >
  <resultMap id="BaseResultMap" type="com.czwx.cashloan.core.model.ProfitCashLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="cash_way" property="cashWay" jdbcType="TINYINT" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, account_id, cash_way, account_no, account_name, amount, fee, create_time
  </sql>
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="accountId != null" >
        and account_id = #{accountId,jdbcType=BIGINT}
      </if>
      <if test="cashWay != null" >
        and cash_way = #{cashWay,jdbcType=TINYINT}
      </if>
      <if test="accountNo != null" >
        and account_no = #{accountNo,jdbcType=VARCHAR}
      </if>
      <if test="accountName != null" >
        and account_name = #{accountName,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from profit_cash_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listToUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from profit_cash_log
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from profit_cash_log
    <include refid="searchBy" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from profit_cash_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.czwx.cashloan.core.model.ProfitCashLog" >
    insert into profit_cash_log (id, user_id, account_id, 
      cash_way, account_no, account_name, 
      amount, fee, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, 
      #{cashWay,jdbcType=TINYINT}, #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czwx.cashloan.core.model.ProfitCashLog" >
    insert into profit_cash_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="cashWay != null" >
        cash_way,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="cashWay != null" >
        #{cashWay,jdbcType=TINYINT},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czwx.cashloan.core.model.ProfitCashLog" >
    update profit_cash_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="cashWay != null" >
        cash_way = #{cashWay,jdbcType=TINYINT},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czwx.cashloan.core.model.ProfitCashLog" >
    update profit_cash_log
    set user_id = #{userId,jdbcType=BIGINT},
      account_id = #{accountId,jdbcType=BIGINT},
      cash_way = #{cashWay,jdbcType=TINYINT},
      account_no = #{accountNo,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>