<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.cashloan.core.mapper.UserCashLogMapper" >
  <resultMap id="BaseResultMap" type="com.wz.cashloan.core.model.UserCashLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
     <!--<result column="cash_way" property="cashWay" jdbcType="TINYINT" />-->
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
     <!--<result column="fee" property="fee" jdbcType="DECIMAL" />-->
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, account_no, account_name, amount, create_time,state
  </sql>
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="accountNo !=null and accountNo != ''">
        and l.account_no = #{accountNo,jdbcType=VARCHAR}
      </if>
      <if test="accountName !=null and accountName != ''">
        and l.account_name = #{accountName,jdbcType=VARCHAR}
      </if>
      <if test="state != null and state != ''">
        and l.state = #{state,jdbcType=TINYINT}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_cash_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listToUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from user_cash_log
    where user_id = #{userId,jdbcType=BIGINT} order by id desc
  </select>
  <select id="listToUserIdSccCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    COUNT(0)
    from user_cash_log
    where user_id = #{userId,jdbcType=BIGINT} and state = #{state,jdbcType=TINYINT}
  </select>

  <select id="listSelective" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
    select
    u.login_name as loginName, l.account_no as accountNo, l.account_name as accountName, l.amount, l.create_time as createTime,l.state,l.id,l.user_id as userId
    from user_cash_log l LEFT JOIN user u on l.user_id=u.id
    <include refid="searchBy"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_cash_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wz.cashloan.core.model.UserCashLog" >
    insert into user_cash_log (id, user_id, cash_way, 
      account_no, account_name, amount, 
      fee,invite_id,state, create_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{cashWay,jdbcType=TINYINT}, 
      #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL},#{inviteId,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wz.cashloan.core.model.UserCashLog" >
    insert into user_cash_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cashWay != null" >
        cash_way,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="inviteId != null" >
        invite_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="cashWay != null" >
        #{cashWay,jdbcType=TINYINT},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="inviteId != null" >
        #{inviteId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wz.cashloan.core.model.UserCashLog" >
    update user_cash_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="cashWay != null" >
        cash_way = #{cashWay,jdbcType=TINYINT},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateOrder" parameterType="java.util.HashMap" >
    update user_cash_log
    <set >
      <if test="cashWay != null" >
        cash_way = #{cashWay,jdbcType=TINYINT},
      </if>
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.wz.cashloan.core.model.UserCashLog" >
    update user_cash_log
    set user_id = #{userId,jdbcType=BIGINT},
      cash_way = #{cashWay,jdbcType=TINYINT},
      account_no = #{accountNo,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectInviteId" resultType="java.lang.Integer" parameterType="java.lang.Long">
  	select count(1) from user_cash_log where invite_id = #{inviteId,jdbcType=BIGINT}
  </select>
</mapper>